/* HOME PAGE GRID */
main {
  display: grid;
  grid-template-columns: 200px 600px 200px ;
  grid-template-rows: 3fr 2fr .2fr;
  width: 1000px;
  margin: 0 auto;
}

#first {
  display: grid;
  justify-items: center;
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
#gridone img {
  position: relative;
  width: 600px;
  
}
#second {
  display: grid;
  justify-items: center;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

footer {
  display: grid;
  justify-items: center;
  align-self: end;
  grid-column: 1 / 4;
  grid-row: 3 / 4;
}







/* HEADER HOME PAGE */
header {
  width: 100%;
  background: rgb(60, 60, 226);
  height: 200px;
  margin-bottom: 10px;
}

header ul {
  display: inline;
  float: right;
  margin-right: 300px;
  z-index: 4;
}

h1, h2 {
  display: grid;
  justify-content: center;
}

header h1 {
  padding-top: 15px;
  font-size: 5em;
  font-family: 'Odibee Sans', cursive;
}

li a {
  border: 2px solid black;
  margin: 5px;
  display: block;
}




/* ABOUT ME PAGE */
#authors * {
  box-sizing: border-box;
}

#authors {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgb(89, 228, 175), rgb(27, 124, 97));
  border-radius: 20px;
  line-height: 1.2em;
}

#aboutUsH1 {  
  text-align: center;
}

.about {
  display: flex;
  flex-direction: row;
    
}

.profilePic {
  width: 15%;
  object-fit: contain;
  /* padding: 1em; */
  margin: 1em;
  /* border: solid rgb(255, 255, 255) 2px; */
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin: 2em;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.description ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  padding: 1em;
}

.authorName {
  width: 15%;
  font-size: large;
  font-weight: bold;
  font-style: italic;
  padding: 1em;
  line-height: 1.2em;
}

.bio {
  width: 80%;
  padding: 1em;
}