#gridone h2 {
  text-align: center;
  text-shadow: 3px 3px black;
  font-size: 5em;
  position: absolute;
  top: 200px; 
  left: 0; 
  width: 100%;
}

header h2 {
  color: rgb(89, 228, 175);
}

#gridone {
 /*  z-index: 3; */
  display: grid;
  /* align-self: flex-end; */
}


#introduction {
  
  border: 2px solid black;
  margin: 20px;
  padding: 10px;
  background-color: black;
  z-index: 5;
  color: rgb(253, 251, 144);
  font-size: 1.1em;
  letter-spacing: 0.1em;
  border-radius: 10px;
}

input {
  margin: 1em;
}