/* GAME MAP STYLING */

.countryRed {
  fill: rgb(248, 80, 80);
}

#gameBody {
  background-color: rgb(159, 183, 202);
}

.countryGray {
  fill: #ececec;
}

.countryGray:hover {
  fill: lightskyblue;
}

.coutryYellow {
  fill: rgb(237, 234, 19);
}

.countryGreen {
  fill: rgb(77, 209, 77);
}

#svg {
  /* height: 958px; */
  width: 100%;
} 

#gameMap {
  width: 100%;
}

#questionBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 10vw;
  right: 1vw;
  font-size:calc(12px + 1.5vw);
  border: 0.05em solid black;
  min-width: 100px;
  min-height: 50px;
  width: 20vw;
  padding: 0.2em;
  /* margin-right: 50px; */
  border-radius: 5px;
}

.flagImg {
  margin: 0.2em auto; 
  width: 30%;
  object-fit: contain;
  border: 0.1em solid cadetblue;
}

#guesser h2{
  font-size: 3em;
  /* border: solid black 3px; */
}

#headerDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
}

  /* Scoreboard */
  #scoreboard {
    width: 10%;
    height: 30%;
    border: 10px pink;
    border-radius: 10px;
    float: left;
  }
  
  h3 {
    color: pink;
  }

