/*----------------------------GAME MAP STYLING----------------------------*/

.countryRed {
  fill: rgb(248, 80, 80);
}

#gameBody {
  background-color: rgb(159, 183, 202);
}

.countryGray {
  fill: #ececec;
}

.countryGray:hover {
  fill: lightskyblue;
}

.coutryYellow {
  fill: rgb(237, 234, 19);
}

.countryGreen {
  fill: rgb(77, 209, 77);
}

#svg {
  width: 100%;
} 

#gameMap {
  width: 100%;
}

#questionBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  top: 15vw;
  right: 1vw;
  font-size:calc(12px + 1.5vw);
  border: 0.05em solid black;
  min-width: 100px;
  min-height: 50px;
  width: 20vw;
  padding: 0.2em;
  border-radius: 5px;
}

.flagImg {
  margin: 0.2em auto; 
  width: 30%;
  object-fit: contain;
  border: 0.1em solid cadetblue;
}

#guesser h2{
  font-size: 3em;
}

#headerDiv {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 60%;
}

  /*----------------------------------Scoreboard--------------------------------*/
  #scoreboard {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: rgba(233, 233, 233, 0.35);
    border: 5px rgb(104, 102, 102);
    border-radius: 10px;
    position: absolute;
    top: 0;
  }
  
  h3 {
    color: rgb(255, 255, 255);
  }
